:root {
    --primary-color: #01295F;
    --secondary-color: #26532B;
	--accent1-color: #EBF5EE;
	--accent2-color: #D8BFAA;

}
.header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 450px  1fr;
	align-items: center;
	border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background: #01295F;
    color: white;
    font-size: 30px;
}

.header img {
	margin: 0 0.25rem 0 1rem;
	width: 250px;
	height: auto;
    border-radius: 5%;
}
.navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 20;
	font-family:'Franklin Gothic Medium' sans-serif;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
    color: #D8BFAA;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

body {
    margin-left: 15%;
    margin-right: 15%;
}

.hero {
    position: relative;
}
.hero .back-img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: bold;
    color: #EBF5EE;
    background-color: rgba(0, 60, 63, 0.4);
    width: 100%;
    text-align: center;
}
.hero article {
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 60, 63, 0.4);
    padding: 40px;
    width: 70%;
    border-radius: 8px;
    color: #EBF5EE;
}

.hero article img {
    float: right;
    width: 250px;
    margin-left: 20px;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.span .adventure {
    display: horizontal;
    flex-wrap: nowrap;
    column-count: 5;
}
.footer {
    text-decoration: none;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}